    <div class="container animate__animated animate__bounceIn">
        <div class="row">
            <div class="col-md-12">
                <div class="error-container">
                    <h1 class="error-heading">404</h1>
                    <p class="error-message">Page Not Found</p>
                    <p class="error-link">Return to <a href="/api">Homepage</a></p>
                </div>
            </div>
        </div>
    </div>
