<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about-container">
                <h1 class="about-heading">About Our UserNexa</h1>
                <p class="about-text">Welcome to our UserNexa! We've designed this application to simplify the process of managing user data within your organization. Whether you're an administrator, manager, or developer, our app empowers you to effortlessly Create, Read, Update, and Delete user records.</p>
               </div>
        </div>
    </div>
</div>